
<center>
    <h1>

        <a href="crear_pedido">crear_pedido</a><br>
        <a href="consultar">consultar</a><br>
        <a href="update_p"> update_p</a><br>
        <a href="delete_doc_p">delete_doc_p</a><br>
    </h1>
</center>