<body>

<form action="/update_p." method="post">
<div aling="left">
<h2>U_Actualizar Pedidos</h2><br>



<label for="id_pedido">id_pedido:</label><br>
<input type="text" id="id_pedido" name="id_pedido"><br>

<label for="comprador">comprador:</label>
<input type="text" placeholder="comprador" name="comprador"><br>

<label for="valor">valor</label>
<input type="valor" name="valor" placeholder="valor"><br>

<label for="Articulo">Articulo</label>
<imput type="Articulo" name="articulo" placeholder="Articulo"><br>
